{% extends "base.html" %}

{% block content %}
  <h2>Sell Stock</h2>
  <form method="POST" action="{{ url_for('sell_stock', stock_id=stock.id) }}">
    {{ form.csrf_token }}
    <div class="form-group">
      <label for="{{ form.volume.id }}">Volume</label>
      {{ form.volume(class="form-control") }}
    </div>

    <!-- Add the order_type field -->
    <div class="form-group">
      <label for="{{ form.order_type.id }}">Order Type</label>
      {{ form.order_type(class="form-control") }}
    </div>

    <div class="form-group">
      <label for="{{ form.limit_price.id }}">Limit Order Price (optional)</label>
      {{ form.limit_price(class="form-control") }}
    </div>
    <div class="form-group">
      <label for="{{ form.expiration_date.id }}">Expiration Date (optional)</label>
      {{ form.expiration_date(type="datetime-local", step="1", class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Sell Stock</button>
  </form>
{% endblock %}
