{% extends "base.html" %}

{% block content %}
  <h1>Transactions</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Trade ID</th>
        <th scope="col">Stock</th>
        <th scope="col">Type</th>
        <th scope="col">Volume</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for trade in trades %}
        <tr>
          <th scope="row">{{ trade.id }}</th>
          <td>{{ trade.stock.name }}</td>
          <td>{{ trade.trade_type }}</td>
          <td>{{ trade.volume }}</td>
          <td>{{ "%.2f"|format(trade.trade_price) if trade.trade_price else 'N/A' }}</td>
          <td>{{ "%.2f"|format(trade.total_value) }}</td>
          {% if trade.trade_date %}
            <td>{{ trade.trade_date|datetimeformat }}</td>
          {% else %}
            <td>Unknown</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
